<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.errormsg{
		color:red;
	}
</style>
</head>
<body>
	<div>
		<h1>new Member Page</h1>
		<div>
			<form action="" method="post" th:object="${member}">
				<label for="loginId">로그인 ID</label>
				<input type="text" id="loginId" th:field="*{loginId}">
				<div class="errormsg" th:errors="*{loginId}"></div>
				
				<label for="password">비밀번호</label>
				<input type="password" id="password" th:field="*{password}">
				<div class="errormsg" th:errors="*{password}"></div>
				
				<label for="name">이름</label>
				<input type="text" id="name" th:field="*{name}">
				<div class="errormsg" th:errors="*{name}"></div>
				
				<div>
					<button type="submit">가입</button>
					<button type="button" th:onclick="|location.href='@{/}'|">취소</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>