<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>fragment page</h1>

	<div>여기는 원래 있던 것</div>

	<div th:insert="~{sampleTL/source :: first}"></div>
	<!-- 	다른곳에 있는거 가져다 쓰는것 insert , 리액트 컴포넌트같은느낌s-->
	<div th:insert="~{sampleTL/source :: second}"></div>
	
	<div th:replace="~{sampleTL/source :: first}"></div>

	<div th:replace="~{sampleTL/source :: second}"></div>
	
	<div th:replace="~{sampleTL/source :: third ('무언가가')}"></div>
	
</body>
</html>