<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- xml name space -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>literal</h1>
	<ul>
		<li><span th:text="text"></span></li>
		<li><span th:text="testtext"></span></li>
		<li><span th:text="'test text'"></span></li>
		<!--  듸어쓰기 하려면 ' ' 로 감싸라 아니면 || 이거로 감싸-->
		<li><span th:text="'test' +'text'"></span></li>
		<li><span th:text="'test'+ ${foodItem1.itemName}"></span></li>
		<li><span th:text="|test ${foodItem1.itemName}  ${foodItem2.itemName} |"></span></li>
	</ul>
	
	<h1>operation</h1>
	<ul>
		<li><span th:text="1 + 1"></span></li>
		<li><span th:text="1 + 1 == 2"></span></li>
		<li><span th:text="4 % 2 == 0"></span></li>
		<li><span th:text="5 % 2 == 0"></span></li>
		
		<li><span th:text="10 > 20"></span></li>
		<li><span th:text="20 >= 20"></span></li>
		<li><span th:text="10 gt 20"></span></li> greater than >
		<li><span th:text="10 lt 20"></span></li> less than	   <
		>= ge
		<= le
		
		<li><span th:text="(4%2==0)? '짝수':'홀수'"></span></li>
		
		<li><span th:text="${foodItem1.itemName}?:'없음' "></span></li>
		<li><span th:text="${nullData}?:'null 없음' "></span></li>
		<li><span th:text="${nullData}?:_ ">없음</span></li>
    </ul>
    
    <div class="class1" th:attrappend="class=' class2' ">div</div>
    <div class="class1" th:attrprepend="class='class3 '">div</div>
    <!-- th:name 으로 걸린건 서버실행 했을때 나오고 그냥name은 파일 자체를 열었을때 나옴  -->
    <div name="abc" th:name="def" class="class1" th:classappend="class3">div</div>
	
	<input type="checkbox" checked>
	<input type="checkbox" th:checked="true">
	<input type="checkbox" th:checked="false">

</body>
</html>