<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		
	<h1>FoodItem Detail 페이지</h1>
	
	<div>
		<table>
			<thead>
				<tr>
					<th>FoodId</th>
					<th>FoodItemName</th>
					<th>FoodContent</th>
					<th>FoodPrice</th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td th:text="${food.id}">3</td>
					<td th:text="${food.itemName}">음식3</td>
					<td th:text="${food.content}">재료3</td>
					<td th:text="${food.price}">3000</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div>											
							<!--{foodId}(foodId=${food.id}) -printf와 비슷 앞에 양식을 넣어두고 뒤에서 정의를 해줌  -->		
		<button th:onclick="|location.href='@{/foods/update/{foodId}(foodId=${food.id})}'|" >수정하기</button>
		<button th:onclick="|location.href='@{/foods}'|" >리스트</button>
	</div>
</body>
</html>