<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>new FoodItem Page</h1>
	
	<form action="" method="post">
		<div>
			<label>ItemName<input type="text" name="itemName"></label>
			<label>Content<input type="text" name="content"></label>
			<label>Price<input type="number" name="price"></label>
		</div>
		<div>
			<button type="submit">추가하기</button>
			<button type="button" th:onclick="|location.href='@{/foods}'|">뒤로가기</button>
		</div>
	</form>
</body>
</html>