<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>update FoodItem Page</h1>
	
	<form action="" method="post" th:object = "${food}">
		<div>									<!--th:value="${food.id}" 로 쓸 필요없음 밑에처럼 다 바꿔주면 훨씬 편하고좋다  -->
			<label>Id<input type="text" name="id" readonly="readonly" th:field="*{id}"></label>
			<label>ItemName<input type="text" name="itemName" th:field="*{itemName}"></label>
			<label>Content<input type="text" name="content" th:field="*{content}"></label>
			<label>Price<input type="number" name="price" th:field="*{price}"></label>
			<label>SoldOut<input type="checkbox" th:field="*{soldout}"></label>
		</div>
		
		<div th:each="option : ${options}">
			<input type="checkbox" th:field="*{options}" th:value="${option.key}"> 
			<label th:for="${#ids.prev('options')}" th:text="${option.value}"></label>
		</div>
		
		<div th:each="foodType : ${foodTypes}">
			<input type="radio" th:field="*{foodType}" th:value="${foodType.name}">
			<label th:for="${#ids.prev('foodType')}" th:text="${foodType.memo}"></label>
		</div>
		
		<div>
			<select th:field="*{shopCode}">
				<option th:each="shopCode : ${shopCodes}" th:value="${shopCode.code}" th:text="${shopCode.name}"></option>
			</select>
		</div>
		
		<div>
			<button type="submit">수정하기</button>
			<button type="button" th:onclick="|location.href='@{/foods}'|">뒤로가기</button>
		</div>
	</form>
</body>
</html>